<div class="grid-component">
  <div class="grid-table">
    <div class="no-data">Sem Dados</div>
    <table>
      <tbody></tbody>
    </table>
  </div>
  <div class="grid-actions">
    <div class="button" id="add-btn">
      <i class="fa-solid fa-plus"></i>
    </div>
    <div class="button" id="del-btn">
      <i class="fa-solid fa-trash"></i>
    </div>
    <div class="button" id="edit-btn">
      <i class="fa-solid fa-pencil"></i>
    </div>
  </div>
  <div class="grid-modal form hidden">
    <span class="modal-title"></span>
    <div class="modal-actions">
      <div class="button" id="cancel-btn">
        <i class="fa-solid fa-x"></i>
      </div>
      <div class="button" id="confirm-btn">
        <i class="fa-solid fa-check"></i>
      </div>
    </div>
  </div>
</div>
